@font-face {
  font-family: "figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray500: hsl(0, 0%, 42%);
  --gray950: hsl(0, 0%, 7%);
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
}

body {
  height: 100%;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", serif;
}

.card {
  height: 500px;
  width: 327px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 7px 7px black;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 24px 24px;
}

.card-illustration {
  height: 200px;
  width: 279px;
  object-fit: cover;
  border-radius: 20px;
}

.blog-content-container {
  width: 279px;
  height: 173px;
  margin-top: 20px;
  font-optical-sizing: auto;
  font-style: normal;
}

.content-header {
  height: 26px;
  width: 73px;
  background-color: var(--yellow);
  text-align: center;
  padding: 4px 2px;
  border-radius: 4px;
}

.content-header h5 {
  margin: 0;
  font-size: 14px;
  color: var(--gray950);
  font-weight: 900;
}

.publish-date {
  color: var(--gray950);
  margin: 10px 0 15px 0;
  font-weight: 500;
}

.blog-subject {
  font-size: 20px;
  font-weight: 900;
  color: var(--gray950);
  margin-bottom: 15px;
}

.blog-subject:hover {
  color: var(--yellow);
  cursor: pointer;
}

.blog-text {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray500);
  line-height: 150%;
}

.footer {
  height: 32px;
  width: 129px;
  display: flex;
  align-items: center;
  font-family: inherit;
  margin-top: 25px;
}

.avatar-image-container {
  height: 32px;
  width: 32px;
}

.blog-avatar {
  height: 100%;
  width: 100%;
}

.footer p {
  margin: 0;
  font-weight: 900;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray950);
  margin-left: 9px;
}

